body {
  margin: 0;
  padding-top: 80px; 
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #7A072E;
  padding: 15px;
  
  color: white;
  text-align: center;
  font-size: xx-large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

div.login {
  background-color:#7A072E;
  max-width: 600px;   /* aumente aqui conforme necessário */
  width: 90%;
  margin: 40px auto;
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  color: white;
}

p:hover {
  color: yellow;
  text-decoration: underline;
}
a {
  color: white;
}
a:hover {
  color: yellow;
  text-decoration: underline;
}

.botaoLogin {
  display: block;           /* Faz o botão se comportar como um bloco */
  margin: 30px auto 10px;   /* Centraliza horizontalmente com auto */
  background-color: #a60037;
  color: white;
  padding: 12px 24px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.botaoLogin:hover {
  background-color: #440319;
}


 button.botaoCadastro {
      margin-top: 25px;
      background-color: #7A072E;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      width: 100%;
      font-size: 16px;
    }

button:hover {
      background-color: #440319;
    }

    .imagem-perfil {
      flex: 1;
      text-align: center;
    }

    .imagem-perfil label {
      display: block;
      font-weight: bold;
      margin-bottom: 10px;
    }

    @media (max-width: 768px) {
      main {
        flex-direction: column;
      }
    }

.barraLateral {
  background-color: #440319;
  padding: 10px;
  max-width: 400px;
  width: 90%;
  flex-direction: column;
  display:block;
  align-items: left;
  text-align: left;
  color: white;

}