:root {
  --sidebar-width: 200px;
  --header-height: 80px;
  --footer-height: 60px;
  --bg-principal: #7a0c2e;
}

/* RESET */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fdfdfd;
  color: #333;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

/* HEADER */
.topo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  background-color: var(--bg-principal);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.topo h1 {
  margin: 0;
  font-size: 24px;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  top: var(--header-height);
  left: 0;
  width: var(--sidebar-width);
  height: 100vh;
  background-color: var(--bg-principal);
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 15px 0;
}

.sidebar a {
  color: white;
  text-decoration: none;
}

.sidebar a:hover {
  color: wheat;
}

.sidebar button {
  width: 50px;
  padding: 5px;
  background-color: #54001e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s;
}

.sidebar button:hover {
  transform: scale(1.1);
}

.menu-principal,
.menu-inferior {
  list-style: none;
  padding: 0;
}

.menu-inferior {
  margin-top: auto;
}

.botao-voltar {
  margin-top: 20px;
  padding: 8px 12px;
  background-color: var(--bg-principal);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* BOTÃO GERAL */
.botao {
  margin-top: 20px;
  margin-right: 5px;
  padding: 10px 16px;
  background-color: #54001e;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  justify-content: right;
}

.botao:hover {
  background-color: #7a1738;
}

.botao.cancelar {
  justify-content: left;
  margin-right: 10px;
  background-color: #999;
  color: white;
}

.botao.cancelar:hover {
  background-color: #777;
}

/* MAIN CONTAINER */
.main-container {
  display: flex;
  height: calc(100vh - var(--header-height));
  margin-top: var(--header-height);
  overflow: scroll;
}

.content {
  margin-left: var(--sidebar-width);
  padding: 20px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  box-sizing: border-box;
}

.content h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

/* LOGIN */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background-color: var(--bg-principal);
  padding: 30px;
  border-radius: 10px;
  color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  width: 300px;
}

.login-box label {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: bold;
}

.login-box input {
  margin-top: 5px;
  padding: 8px;
  border: none;
  border-radius: 5px;
  width: 100%;
}

.login-box button {
  background-color: #54001e;
  color: white;
  border: none;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
}

.login-box button:hover{
  background-color:#310010;
}

.login-box a {
  font-size: 12px;
  color: white;
  text-align: center;
  margin-top: 5px;
  text-decoration: underline;
}

.login-box p {
  color: white;
  text-align: center;
}

.login-box p:hover {
  color: yellow;
}


/* FOOTER */
.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--footer-height);
  background-color: #55001a;
  color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 90;
}

/* DASHBOARD */
.cardsResumo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.cardsResumo div {
  background-color: #eee;
  padding: 20px;
  border-radius: 10px;
  min-width: 120px;
  max-width: 200px;
  text-align: center;
}

/* CALENDÁRIO */
.react-calendar {
  width: 800px;
  max-width: 100%;
  margin: 15px auto 0;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* GERENCIAMENTO */
.cardsCoordGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.cardCoord {
  background-color: #ffeef3;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.cardCoord h2 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
  color: #55001a;
  border-bottom: 2px solid #ccc;
  width: fit-content;
  padding-bottom: 0.2rem;
}

.cardCoord p {
  font-size: 0.95rem;
  color: #333;
  margin-bottom: 1.2rem;
  line-height: 1.4;
}

.cardCoord button {
  margin-top: 1rem;
  padding: 0.4rem 1rem;
  background-color: var(--bg-principal);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.checkboxGroup {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: flex-start;
  margin-top: 4px;
}

.checkboxItem {
  display: flex;
  align-items: center;
  gap: 8px;
}


/* POPUP */
.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; 
}

.popup {
  width: 350px;
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.popup h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.botoesPopup {
  display: flex;
  justify-content: space-between;
  gap:10px;
}

.botaoPopup {
  margin-top: 20px;
  margin-right: 5px;
  padding: 10px 16px;
  background-color: #54001e;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  
}

.botaoPopupCancelar {
  margin-top: 20px;
  margin-right: 5px;
  padding: 10px 16px;
  background-color: #eab6c8;
  color: rgb(31, 0, 0);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
} 


.popup select,
.popup input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}

/* INFO CONFIRM */
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #f0f0f0;
  box-sizing: border-box;
  padding: 0 16px;
}

.info-confirm {
  width: 100%;
  max-width: 400px;
  background-color: #54001e;
  padding: 32px 24px;
  margin-top: var(--header-height);
  margin-left: var(--sidebar-width);
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.info-confirm a {
  margin-bottom: 10px;
  color: white;
  text-decoration: underline;
  font-weight: bold;
}

.info-confirm input {
  margin-bottom: 16px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.confirm-btn {
  padding: 10px;
  border: 2px solid white;
  background-color: #54001e;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.confirm-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.confirm-btn:hover:not(:disabled) {
  background-color: #6b1232;
}

/* CARDS: MATÉRIAS, ALUNOS, PROFESSORES, TURMAS */
.cardsContainer,
.cardAluno,
.cardProfessor,
.cardMateria,
.cardTurma {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-weight: bold;
}

.cardMateria,
.cardTurma,
.cardAluno,
.cardProfessor {
  background: #580f0f;
  border-radius: 16px;
  padding: 16px;
  margin: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  width: 200px;
  min-width: 200px;
  height: auto;
  text-align: left;
  font-size: small;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* FOTO */
.cardfoto {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10%;
  margin-bottom: 12px;
  border: 2px solid #d6d6d6;
}

/* GENÉRICO */
.conteudoCardBranco {
  width: 180px;
  background-color: white;
  padding: 8px;
  border-radius: 8px;
}


/* FILTROS */
.filtros-box {
  background-color: #ece0e5;
  padding: 20px;
  border-radius: 10px;
}

.filtros {
  display: flex;
  gap: 100px;
  margin-bottom: 10px;
}

.filtro {
  display: flex;
  flex-direction: column;
}

.filtro label {
  margin-bottom: 4px;
  font-weight: bold;
}

select {
  padding: 6px;
  border-radius: 5px;
}

